@media (max-width: 425px) {}

@media (min-width: 426px) and (max-width: 768px) {}

@media (min-width: 1024px) {
    #contact {
        h1 {
            text-align: center;
        }

        form {
            box-shadow: 1px 1px 5px #000;
            padding: 2vh;
            margin: 10vh 15vw 10vh 15vw;
            text-align: center;
            label {
                margin: 2VH;
            }
            input {
                margin: 2VH;
            }
            select {}
        }
    }
}
