#effectif {
    grid-column: 2/3;
    grid-row: 1/2;
    min-height: 100vh;
    padding: 2vw;
    
    h1{
        font-size: 2rem;
        color:#15608E;
    }
    
    nav{
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            li{
                
            }
        }
    }
    
    section{
        h2{
            font-size: 2rem;
            color:#15608E;
        }
        ul{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin: 2vh;
            li{
                margin-bottom: 2vh;
                article{
                    min-height: 30vh;
                    header{
                        figure{
                            img{
                                width:90%;
                            }
                        }
                    }
                    main{
                        
                    }
                }
            }
        }
    }
}