@media (max-width: 425px) {}

@media (min-width: 426px) and (max-width: 768px) {}

@media (min-width: 1024px) {
    #footer {
        background-color: #000;
        color: #fff;
        grid-column: 2/3;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        h2 {
            grid-column: 1/2;
        }

        &>section:first-of-type {
            grid-row: 1/2;
            grid-column: 2/3;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            &>section:first-of-type {
                grid-column: 1/2;
                grid-row: 1/2;
            }
            &>section:nth-of-type(2) {
                grid-column: 2/3;
                grid-row: 1/2;
            }
            &>section:last-of-type {
                grid-column: 3/4;
                grid-row: 1/2;
            }
        }
        &>section:nth-of-type(2) {
            text-align: center;
            grid-column: 1/4;
            grid-row: 2/3;
        }
        &>section:last-of-type {
            text-align: center;
            grid-column: 1/4;
            grid-row: 3/4;
        }

    }
}
