// PAGE ACCUEIL
@media (max-width: 425px) {
    #home {
        margin: 1vw;
        figure {
            img {
                width: 100%;
            }
        } 
        // Prochains match
        &>section:first-of-type {
            margin: 5vh 0 10vh 0;
            &>section {
                h2 {
                    text-align: center;
                    color: #15608E;
                    font-size: 2rem;
                    margin: 5vh 0 5vh 0;
                    border-bottom: 3px solid #15608E;
                    margin-bottom: 2vh;
                }
            }

        } 
        // Partie Article
        &>section:nth-of-type(2) {
            text-align: center;

            h2 {
                color: #15608E;
                font-size: 2rem;
                border-bottom: 3px solid #15608E;
                margin-bottom: 2vh;
            } 
            // 4 Derniers articles
            &>section:first-of-type {
                margin: 5vh 0 1vh 0;
                &>h3{
                    color: #15608E;
                    font-size: 2rem;
                    border-bottom: 3px solid #15608E;
                    margin-bottom: 2vh;
                }
                ul {
                    display: grid;
                    grid-template-rows: repeat(4,1fr);
                    
                    li {
                        margin: 1vh 0 5vh 0;
                        align-self: center;
                        justify-self: center;
                        &>article {
                            box-shadow: 1px 1px 10px #15608E;
                            margin: 1vh 0 1vh 0;
                            width: 75vw;
                            border-radius: 10px;
                            
                            header {
                                figure {
                                    grid-column: 1/2;
                                    img {
                                        width: 100%;
                                    }
                                }
                            }
                            &>section {
                                grid-column: 2/3;
                                h4 {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }

            button {
                min-width: 30vw;
                justify-self: center;
                align-self: center;
                margin: 1vh 0 1vh 0;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
            // Iframe Facebook
            section:nth-of-type(2){
                
                &>h3 {
                    color: #15608E;
                    font-size: 2rem;
                    border-bottom: 3px solid #15608E;
                    margin-bottom: 2vh;
                    grid-column: 1/3;
                } 
            
            }
        } 
        // Albums
        &>section:nth-of-type(3) {
            margin: 10vh 0 5vh 0;
            text-align: center;

            &>h2 {
                color: #15608E;
                font-size: 2rem;
                border-bottom: 3px solid #15608E;
                margin-bottom: 2vh;
            }

            &>section {
                text-align: center;
                column-gap: 2vw;
                
                ul {
                    display: grid;
                    grid-template-rows: repeat(3,1fr);
                    
                    li {
                        margin: 1vh 0 5vh 0;
                        align-self: center;
                        justify-self: center;
                        &>article {
                            box-shadow: 1px 1px 10px #15608E;
                            margin: 1vh 0 1vh 0;
                            width: 75vw;
                            border-radius: 10px;
                            
                            header {
                                figure {
                                    grid-column: 1/2;
                                    img {
                                        width: 100%;
                                    }
                                }
                            }
                            &>section {
                                grid-column: 2/3;
                                h4 {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
            button {
                min-width: 30vw;
                justify-self: center;
                align-self: center;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}

@media (min-width: 426px) and (max-width: 768px) {}

@media (min-width: 1024px) {
    #home {
        grid-column: 2/3;
        grid-row: 1/2;
        min-height: 100vh;

        figure {
            img {
                width: 100%;
            }
        } 
        
        // Matchs à venir
        &>section:first-of-type {
            margin: 5vh 0 5vh 0;
            padding: 1vh;
            &>section {
                h2 {
                    text-align: center;
                    color: #15608E;
                    font-size: 2rem;
                    border-bottom: 3px solid #15608E;
                    margin-bottom: 2vh;
                }
            }

        } 
        
        // Partie Article
        &>section:nth-of-type(2) {
            margin: 5vh 1vw 5vh 1vw;
            padding: 1vh;
            text-align: center;
            display: grid;
            grid-template-columns: 1fr 0.5fr;
            column-gap: 2vw;
            

            // Derniers articles
            &>section:first-of-type {
                grid-column: 1/2;
                width: 50vw;
                &>h3 {
                    color: #15608E;
                    font-size: 2rem;
                    border-bottom: 3px solid #15608E;
                    margin-bottom: 2vh;
                    grid-column: 1/3;
                } 
            
                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    
                    li {
                        &>article {
                            display: grid;
                            grid-template-rows: 1fr 0.5fr 0.1fr;
                            width: 20vw;
                            box-shadow: 1px 1px 10px #000;
                            margin: 1vh;
                            border-radius: 10px;
                            figure {
                                grid-row: 1/2;
                                img {
                                    border-radius: 10px;
                                }
                            }
                            section{
                                grid-row: 2/3;
                                h3{
                                    margin-bottom: 1vh;
                                    text-align: center;
                                }
                            }
                            button{
                                grid-row: 3/4;
                                margin-bottom: 1vh;
                            }
                        }
                    }
                }
                button {
                    justify-self: center;
                    align-self: center;
                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
            // Iframe Facebook
            section:nth-of-type(2){
                
                &>h3 {
                    color: #15608E;
                    font-size: 2rem;
                    border-bottom: 3px solid #15608E;
                    margin-bottom: 2vh;
                    grid-column: 1/3;
                } 
            
            }
            
        } 
        
        // Galerie
        &>section:nth-of-type(3) {
            margin: 5vh 1vw 5vh 1vw;
            padding: 1vh;
            text-align: center;

            &>h2 {
                color: #15608E;
                font-size: 2rem;
                border-bottom: 3px solid #15608E;
                margin-bottom: 2vh;
            }

            &>section {
                text-align: center;
                column-gap: 2vw;
                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    li {
                        article {
                            display: grid;
                            grid-template-rows: 1fr 0.1fr;
                            text-align: center;
                            box-shadow: 1px 1px 10px #000;
                            margin: 1vh;
                            border-radius: 10px;
                        }
                    }
                }
            }
            button {
                justify-self: center;
                align-self: center;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}
