// PAGE ACCUEIL
@media (max-width: 425px) {
    #home {
        margin: 1vw;
        figure {
            img {
                width: 100%;
            }
        }
        
        // Prochains match
        &>section:first-of-type {
            margin: 5vh 0 10vh 0;
            &>section {
                h2 {
                    text-align: center;
                    color: #15608E;
                    font-size: 2rem;
                }
            }
    
        } // Partie Article
        &>section:nth-of-type(2) {
            display: grid;
            grid-template-rows: 0.8fr 0.5fr;
            text-align: center;
            box-shadow: 1px 1px 10px #15608E; 
            
            // Dernier article
            &>section:first-of-type {
                
                &>h2 {
                    color: #15608E;
                    font-size: 2rem;
                }
    
                &>article {
                    display: grid;
                    grid-template-rows: 1fr 0.5fr;
                    text-align: center;
                    box-shadow: 1px 1px 10px red;
                    margin: 5vh 0 5vh 0;
                }
    
            } // Autres articles 
            &>section:nth-of-type(2) {
                display: grid;
                grid-template-rows: 0.2fr 1fr 1fr 1fr;
                margin: 5vh 0 5vh 0;
                
                h2 {
                    color: #15608E;
                    font-size: 2rem;
                }
    
                &>article {
                    box-shadow: 1px 1px 10px #15608E;
                    margin: 1vh 0 1vh 0;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    
                    figure {
                        grid-column: 1/2;
                        img {
                            width: 100%;
                        }
                    }
                    &>section {
                        grid-column: 2/3;
                        text-align: center;
                    }
                }
            }
    
            button {
                min-width: 30vw;
                justify-self: center;
                align-self: center;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        } // Albums
        &>section:nth-of-type(3) {
            margin: 10vh 0 5vh 0;
            text-align: center;
            box-shadow: 1px 1px 10px #15608E;
        
            &>h2 {
                color: #15608E;
                font-size: 2rem;
            }
                
            &>section {
                text-align: center;
                box-shadow: 1px 1px 10px #15608E;
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 2vw;
    
                article {
                    border: 1px solid #000;
                    bow-shadow: 1px 1px 10px #15608E;
                    margin: 5vh 0 5vh 0;
                    display: grid;
                    grid-template-rows: 1fr 0.5fr;
                    
                    min-height: 40vh;
                    figure {
                        grid-row: 1/2;
                        img{
                            
                        }
                    }
                    h2{
                        grid-row: 2/3;
                    }
                }
            }
            button {
                min-width: 30vw;
                justify-self: center;
                align-self: center;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}

@media (min-width: 426px) and (max-width: 768px) {}

@media (min-width: 1024px) {
    #home {
        grid-column: 2/3;
        grid-row: 1/2;

        figure {
            img {
                width: 100%;
            }
        } 
        // Matchs à venir
        &>section:first-of-type {
            margin: 5vh 0 5vh 0;
            padding: 1vh;
            &>section {
                h2 {
                    text-align: center;
                    color: #15608E;
                    font-size: 2rem;
                }
            }

        } 
        // Partie Article
        &>section:nth-of-type(2) {
            margin: 5vh 1vw 5vh 1vw;
            padding: 1vh;
            text-align: center;
            box-shadow: 1px 1px 10px #15608E; 
            &>h2 {
                    color: #15608E;
                    font-size: 2rem;
                }
            // Dernier article
            &>section:first-of-type {


                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    li {
                        &>article {
                            display: grid;
                            grid-template-rows: 1fr 1fr;
                            text-align: center;
                            box-shadow: 1px 1px 10px red;
                            margin: 1vh;
                        }
                    }
                }
            }

            button {
                justify-self: center;
                align-self: center;
                grid-column: 1/3;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        } // Albums
        &>section:nth-of-type(3) {
            margin: 5vh 1vw 5vh 1vw;
            padding: 1vh;
            text-align: center;
            box-shadow: 1px 1px 10px #15608E;

            &>section {
                text-align: center;
                box-shadow: 1px 1px 10px #15608E;
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 2vw;

                article {
                    border: 1px solid #000;
                    bow-shadow: 1px 1px 10px #15608E;
                    margin: 1vw;
                    min-height: 40vh;
                }
                button {
                    justify-self: center;
                    align-self: center;
                    grid-column: 1/3;
                }
            }



        }
    }
}
