@media (max-width: 425px) {
    #publicNav {

        nav {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            background-color: #15608E;

            #burgerBtn {
                grid-column: 1/2;
                grid-row: 1/2;
                color: #fff;
                margin-left: 2vw;
                align-self: center;
            }
            
            
            figure {
                grid-column: 2/3;
                grid-row: 1/2;
                text-align: center;
                img {
                    width: 20%;
                }
            }
            #reseauxSociaux {
                grid-column: 3/4;
                grid-row: 1/2;
                display: flex;
                align-items: center;
                justify-content: space-around;
                a{
                    text-decoration: none;
                    color:#fff;
                }
            }
            ul {
                grid-column: 1/4;
                grid-row: 2/3;
                display: flex;
                align-items: center;
                justify-content: space-around;
                color:#fff;
                a{
                    text-decoration: none;
                    color:#fff;
                }
                li{
                    ul{
                        display:none;
                    }
                }
            }
        }
    }
}

@media (min-width: 426px) and (max-width: 1023px) {
    #publicNav {
        grid-column: 1/2;

        nav {
            background-color: #15608E;
            height: 100vh;
            width: 13vw;
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 6vh 0 2vh 0;

            figure {
                text-align: center;

                img {
                    width: 60%;
                }
            }

            #burgerBtn {
                display: none;
            }

            #reseauxSociaux {
                display: none;
            }

            ul {
                text-align: center;
                padding: 2vh;

                li {
                    margin: 2vh 0 3vh 0;
                    display: block;
                    font-size: 1.2rem;

                    &>ul {
                        display: none;
                    }

                    a {
                        text-decoration: none;
                        color: #fff;
                        font-weight: 800;
                    }

                }
                li:hover {
                    border-left: 5px solid #fff;
                    border-right: 5px solid #fff;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    #publicNav {
        grid-column: 1/2;

        nav {
            background-color: #15608E;
            height: 100vh;
            width: 13vw;
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 6vh 0 2vh 0;

            figure {
                text-align: center;

                img {
                    width: 60%;
                }
            }

            #burgerBtn {
                display: none;
            }

            #reseauxSociaux {
                display: none;
            }

            ul {
                text-align: center;
                padding: 2vh;

                li {
                    margin: 2vh 0 3vh 0;
                    display: block;
                    font-size: 1.2rem;

                    &>ul {
                        display: none;
                    }

                    a {
                        text-decoration: none;
                        color: #fff;
                        font-weight: 800;
                    }

                }
                li:hover {
                    border-left: 5px solid #fff;
                    border-right: 5px solid #fff;
                }
            }
        }
    }
}
