#teams {
    grid-column: 2/3;
    grid-row: 1/2;
    min-height: 100vh;
    padding-left: 1vw;
    figure {
        img {
            width: 100%;
        }
    }

    h1 {
        font-size: 2rem;
        color: #15608E;
    }

    section {
        &>h2 {
            a {
                text-decoration: none;
                color: #000;
            }
        }
        ul{
            
        }
    }

}