@media (max-width: 425px) {
    #teams {
        min-height: 100vh;
        
        figure {
            img {
                width: 100%;
            }
        }

        h1 {
            font-size: 2rem;
            color: #15608E;
            margin-top: 2vh;
            padding-left: 2vw;
        }

        section:first-of-type {
            &>h2 {
                margin-top: 2vh;
                padding-left: 2vw;
                a {
                    text-decoration: underline #15608E;
                    color: #000;
                }
            }
            ul {
                li{
                    margin-top: 2vh;
                    article {
                        header{
                            h2{
                                text-align: center;
                                font-size: 1.5rem;
                                color: #15608E;
                            }
                        }
                    }
                }
            }
        }
        section:nth-of-type(2){
            h2{
                font-size: 1.5rem;
                color: #15608E;
                margin: 1vh 0 1vh 0;
            padding-left: 2vw;
            }
            p{
            padding-left: 2vw;
                a{
                    text-decoration:underline #15608E;
                    color:#000;
                }
            }
        }

    }
}

@media (min-width: 426px) and (max-width: 768px) {}

@media (min-width: 1024px) {
    #teams {
        grid-column: 2/3;
        grid-row: 1/2;
        min-height: 100vh;
        padding-left: 1vw;
        figure {
            img {
                width: 100%;
            }
        }

        h1 {
            font-size: 2rem;
            color: #15608E;
        }

        section {
            &>h2 {
                a {
                    text-decoration: none;
                    color: #000;
                }
            }
            ul {}
        }

    }

}
