@import 'reset';
@import 'publicNav';
@import 'adminNav';
@import 'footer';
@import 'home';
@import 'club';
@import 'club-infrastructure';
@import 'club-organigramme';
@import 'articles';
@import 'teams';
@import 'effectif';
@import 'team-resume';
@import 'contact';
@import 'login';

.sr-only {
    display: none;
}

@media (max-width: 425px) {
    #public {
        #publicNav {
            nav {
                ul {
                    li {
                        a {
                            text-decoration: none;
                            color: black;
                        }
                    }
                }
            }
        }

        #home {}

    }
}

@media (min-width: 426px) and (max-width: 768px) {
    #public {
        #publicNav {
            nav {
                ul {
                    li {
                        a {
                            text-decoration: none;
                            color: black;
                        }
                    }
                }
            }
        }

        #home {}

    }
}

@media (min-width: 1024px) {

    // LAYOUT PUBLIC
    #public {
        display: grid;
        grid-template-columns: 13vw 87vw;
    }
    
    // LAYOUT ADMIN
    
    #admin {
        display: grid;
        grid-template-columns: 13vw 87vw;
        grid-template-rows: 1fr 1fr;
    }
}