@import 'reset';
@import 'publicNav';
@import 'adminNav';
@import 'home';
@import 'club';
@import 'club-infrastructure';
@import 'club-organigramme';
@import 'articles';
@import 'teams';
@import 'effectif';
@import 'team-resume';
@import 'galerie';
@import 'events';
@import 'contact';
@import 'login';
@import 'footer';

.sr-only {
    display: none;
}
.seeBtn{
    background-color: #15608E;
    color:#fff;
    height: 5vh;
    width: 10vw;
    padding: 1vh;
    background-color: #15608E;
    color:#fff;
    border: none;
    border-radius: 5px;
}

.seeBtn:hover{
    background-color: #02265A;
    cursor: pointer;
}


@media (max-width: 425px) {
    #public {
        font-family:'Josefin Sans', sans-serif;
        font-size: 1rem;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    
}

@media (min-width: 1024px) {

    // LAYOUT PUBLIC
    #public {
        display: grid;
        grid-template-columns: 13vw 87vw;
        font-family:'Josefin Sans', sans-serif;
        font-size: 1rem;
    }
    
    // LAYOUT ADMIN
    
    #admin {
        display: grid;
        grid-template-columns: 13vw 87vw;
        grid-template-rows: 1fr 1fr;
        font-family:'Josefin Sans', sans-serif;
    }
}