html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sr-only {
  display: none;
}

@media (max-width: 425px) {
  #public #publicNav nav ul li a {
    text-decoration: none;
    color: black;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  #public #publicNav nav ul li a {
    text-decoration: none;
    color: black;
  }
}
@media (min-width: 1024px) {
  #public {
    display: grid;
    grid-template-columns: 13vw 87vw;
  }
  #public #publicNav {
    grid-column: 1/2;
  }
  #public #publicNav nav {
    background-color: #15608E;
    height: 100vh;
    width: 13vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 6vh 0 2vh 0;
  }
  #public #publicNav nav figure {
    text-align: center;
  }
  #public #publicNav nav figure img {
    width: 60%;
  }
  #public #publicNav nav ul {
    text-align: center;
    padding: 2vh;
  }
  #public #publicNav nav ul li {
    margin: 2vh;
  }
  #public #publicNav nav ul li > ul {
    display: none;
  }
  #public #publicNav nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
  }
  #public #home {
    grid-column: 2/3;
    grid-row: 1/2;
    min-height: 100vh;
  }
  #public #home > section:first-of-type {
    margin: 5vh 0 5vh 0;
    padding: 1vh;
  }
  #public #home > section:first-of-type > section h2 {
    text-align: center;
    color: #15608E;
    font-size: 2rem;
  }
  #public #home > section:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5vh 0 5vh 0;
    padding: 1vh;
    text-align: center;
    box-shadow: 1px 1px 10px #000;
  }
  #public #home > section:nth-of-type(2) article {
    text-align: center;
    box-shadow: 1px 1px 10px #000;
    min-height: 45vh;
    margin: 1vh;
  }
  #public #home > section:nth-of-type(2) > section:nth-of-type(2) {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  }
  #public #home > section:nth-of-type(2) > section:nth-of-type(2) > article {
    text-align: center;
    box-shadow: 1px 1px 10px #000;
    min-height: 10vh;
    margin: 1vh;
  }
  #public #home > section:nth-of-type(2) button {
    grid-column: 1/3;
  }
  #public #home > section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5vh 0 5vh 0;
    padding: 1vh;
    text-align: center;
  }
  #public #home > section:nth-of-type(3) > section {
    text-align: center;
    box-shadow: 1px 1px 10px #000;
    min-height: 45vh;
    margin: 1vh;
  }
  #public #home > section:nth-of-type(3) button {
    grid-column: 1/3;
  }
  #public #le-club {
    grid-column: 2/3;
    grid-row: 1/2;
    min-height: 100vh;
    padding: 2vw;
  }
  #public #le-club-history {
    grid-column: 2/3;
    grid-row: 1/2;
    min-height: 100vh;
    padding: 2vw;
  }
  #public #le-club-infrastructure {
    grid-column: 2/3;
    grid-row: 1/2;
    min-height: 100vh;
    padding: 2vw;
  }
  #public #le-club-organigramme {
    grid-column: 2/3;
    grid-row: 1/2;
    min-height: 100vh;
    padding: 2vw;
  }
  #public #teams {
    grid-column: 2/3;
    grid-row: 1/2;
    min-height: 100vh;
    padding: 2vw;
  }
  #public #team-resume {
    grid-column: 2/3;
    grid-row: 1/2;
    min-height: 100vh;
    padding: 2vw;
  }
  #public #contact h1 {
    text-align: center;
  }
  #public #contact form {
    box-shadow: 1px 1px 5px #000;
    padding: 2vh;
    margin: 10vh 15vw 10vh 15vw;
    text-align: center;
  }
  #public #contact form label {
    margin: 2VH;
  }
  #public #contact form input {
    margin: 2VH;
  }
  #public #login {
    grid-column: 2/3;
    grid-row: 1/2;
    min-height: 100vh;
    padding: 2vw;
  }
  #public #footer {
    background-color: #000;
    color: #fff;
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  #public #footer h2 {
    grid-column: 1/2;
  }
  #public #footer > section:first-of-type {
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #public #footer > section:first-of-type > section:first-of-type {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #public #footer > section:first-of-type > section:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #public #footer > section:first-of-type > section:last-of-type {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  #public #footer > section:nth-of-type(2) {
    text-align: center;
    grid-column: 1/4;
    grid-row: 2/3;
  }
  #public #footer > section:last-of-type {
    text-align: center;
    grid-column: 1/4;
    grid-row: 3/4;
  }
  #admin {
    display: grid;
    grid-template-columns: 13vw 87vw;
    grid-template-rows: 1fr 1fr;
  }
  #admin #adminNav {
    grid-column: 1/2;
  }
  #admin #adminNav nav {
    background-color: #15608E;
    height: 100vh;
    width: 13vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 6vh 0 2vh 0;
  }
  #admin #adminNav nav figure {
    text-align: center;
  }
  #admin #adminNav nav figure img {
    width: 60%;
  }
  #admin #adminNav nav ul {
    text-align: center;
    padding: 2vh;
  }
  #admin #adminNav nav ul li {
    margin: 2vh;
  }
  #admin #adminNav nav ul li > ul {
    display: none;
  }
  #admin #adminNav nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
  }
}

/*# sourceMappingURL=style.css.map */
